<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="static/styles/change_password.css">
    <link href="https://db.onlinewebfonts.com/c/869ee3f760a416f2dadc427a61de209e?family=HSE+Sans" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class = "top-block">
            <div class = "logo">
                <img src="static/images/logo2.svg" alt="">
            </div>
            <div class = "close-icon">
                <a href="#"><img src="static/images/кнопка.svg" alt="Выход"></a>
            </div>
        </div>
        
        <div class = "bottom-block">
            <div class="big">
                <div>
                    <h1>Смена пароля</h1>
                </div>
                <div class="inputs">
                    <div class="input-box">
                        <input class = "name" type = "password" placeholder ="Введите старый пароль">
                    </div>
                    <div class="input-box">
                        <input class = "name" type = "password" placeholder ="Введите новый пароль">
                    </div>
                    <div class="input-box">
                        <input class = "name" type = "password" placeholder ="Повторите новый пароль">
                    </div>
                </div>
                <div class="button-mini">
                    <button type="submit" class="change">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>