<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inputCode</title>
    <link rel="stylesheet" href="static/styles/style.css">
    <link href="https://db.onlinewebfonts.com/c/869ee3f760a416f2dadc427a61de209e?family=HSE+Sans" rel="stylesheet">
</head>
<body>
    <div class="left-block"></div>
    <div class = "right-block">
        <div class="main">
            <div class="logo">
                <img src="static/images/HSE_Logo.png" alt="">
                <h1>HSE<br>Scheduler</h1>
            </div>
            <div class="lgn-block">
                <div class="lgn-box">
                    <h2>Проверьте почту, мы выслали на неё код проверки</h2>
                    <form method="post" action="/changing_password_code">
                        {% if message %}
                        <p align="center" style="color:red;">{{ message }}</p>
                        {% endif %}
                        <div class="input-box">
                            <input type="text" name="email_code" id="title" placeholder="Код для смены пароля" class="input-code" >
                        </div>
                        <div class="button-mini-code">
                            <button type="submit" class="btn">Далее</button>
                        </div>
                    </form>
                    <div class="block-links">
                        <p>
                            <a class="lgn-link" href="{{ url_for('forgotten_password') }}"> Назад</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>